 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
 body {
      font-family: Arial, sans-serif;
      background-image: url("pic_1.png")
 }
    .container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 30px;
    }
    .category {
      width: 40%;
      background-color: #f2f2f2;
      padding: 20px;
      margin: 10px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      word-spacing: 1%;
    }
    .veg {
      border-left: 8px solid green;
      border-right: 8px solid green;
      border-top: 8px solid green;
      border-bottom: 8px solid green;
      background-image: url("blurr2.png");
      
    }
    .non-veg {
      border-left: 8px solid red;
      border-right: 8px solid red;
      border-top: 8px solid red;
      border-bottom: 8px solid red;
      background-image: url("blurr3.png");
      
    }
    h2 {
      margin-top: 0;
    }
    h1 {
      color: bisque;
    }
    ul {
      list-style: none;
      padding-left: 0;
    }
    p{
        text-align: justify;
        margin-top: 5%;
        margin-bottom: -20%;

    }
    img{
        margin-right: 100%;
    }
    button{
        margin-left: 50%;
        margin-bottom: 15%;
        margin-top: 5%;
        padding: 2px 5px;
        border: none;
        outline: none;
        width: 30%;
        background-color: yellow;
        color: black;
        border-radius: 30px;
        font-size: 20px;
        cursor: pointer;
        transition: 0.2s all;
    }
    button:hover{
    background-color: orange;
}
button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}