body {
    font-family: 'Times New Roman', Times, serif;
    background-color: turquoise;
}
input[type=text], input[type=password] {
  width: fit-content;
  height: fit-content;
  margin: 10px 0;
  display: inline;
  border: 2px solid;
  box-sizing: inherit;
}
button {
            background-color: yellow;
            color: black;
            padding: 14px 20px;
            border-radius: 70%;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 10%;
            height: 10%;
            line-height: 25px;
}
button:hover {
  opacity: 0.8;
}
.cancelbtn {
  width: auto;
  padding: 5px 10px;
  background-color: red;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
.container {
  padding: 16px;
  text-align: center;
}

