*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    height: 100vh;
    background-image: url('pic.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.form{
    position: relative;
    width: 420px;
    height: 420px;
    background-color: white;
    box-shadow: gray;
    border-radius: 5%;
}
.form-header{
    border-radius: 8px 8px 0;
    background-color: yellowgreen;
    padding: 10px;
    text-align: center;
}
.form-body{
    padding: 20px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.field{
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid gray;
    outline: none;
    border-radius: 30px;
    margin: 10px 0;
}
button{
    padding: 2px 5px;
    border: none;
    outline: none;
    width: 48%;
    background-color: yellow;
    color: black;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s all;
}
button:hover{
    background-color: orange;
}
button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.forgot{
    float: right;
}
.options{
    padding: 0 10px;
    margin: 15px 0 25px;
}
/* .form-footer{
    text-align: center;
} */