*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    height: 100vh;
    background-image: url('back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container{
    position: absolute;
    margin-left: -20%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.form{
    position: relative;
    width: 380px;
    height: 380px;
    background-color: rgba(134, 99, 99, 0.938);
    box-shadow: darkred;
    border-radius: 5%;
}
.form-header{
    border-radius: 8px 8px 0;
    background-color: greenyellow;
    padding: 10px;
    text-align: center;
}
.form-body{
    padding: 20px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.field{
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid gray;
    outline: none;
    border-radius: 30px;
    margin: 10px 0;
}
.button{
    padding: 8px 10px;
    border: none;
    outline: none;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 30px;
    font-size: 20px;
}
.forgot{
    float: right;
}
.options{
    padding: 0 10px;
    margin: 15px 0 25px;
}
.form-footer{
    text-align: center;
}